<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>I:\WS-Cocos\LostRoutes\simulator\win32\ScarbLostRoutes.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>I:\WS-Cocos\LostRoutes\simulator\win32</StartWorkingDirectory>
  </propertyGroup>
</Project>